@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Orbitron:wght@400..900&display=swap');

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
}

.keyboard-body {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 380px;
    height: 200px;
    border: rgb(95, 95, 95) 3px solid;
    border-radius: 10px;
    position: relative;
    z-index: 0;
    background-color: rgb(61, 61, 61);
}

.display {
    position: absolute;
    width: 210px;
    height: 70px;
    border:  rgb(47, 47, 47) 2px solid;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    top:5px;
    z-index: 2;
    background-color: rgb(90, 157, 90);
}
.display p {
    margin: 0px;
    margin-left: 5px;
    font-family: "Bitcount Single";
    font-size: 0.9rem;
    color: rgb(17, 28, 17);
}

.key-area {
    display: flex;
    position: relative;
}

.white-key {
    background-color: whitesmoke;
    height: 100px;
    width: 30px;
    z-index: 1;
}

.black-key {
    background-color: black;
    height: 60px;
    width: 20px;
    position: absolute;
    z-index: 2;
}

#cSharp {
    left: 21px;
}

#dSharp {
    left: 51px;
}

#fSharp {
    left: 111px;
}

#gSharp {
    left: 141px;
}

#aSharp {
    left: 171px;
}

button {
    touch-action: manipulation;
    -webkit-touch-callout: none;
}