body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
}

.key-area {
    display: flex;
    justify-content: space-around;
}

.white-key {
    background-color: whitesmoke;
    height: 100px;
    z-index: 1;
}

.black-key {
    background-color: black;
    height: 50px;
    z-index: 5;
}

.all-keys {
    width: 30px;

}

button {
    touch-action: manipulation;
    -webkit-touch-callout: none;
}